.container {
  padding: 0 1rem;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0;
    margin: 0 auto;
    width: 39rem;
  }

  @media (min-width: 1024px) {
    width: 49rem;
  }

  @media (min-width: 1280px) {
    width: 64.75rem;
  }
}
